<header class="accessible-header" role="banner">

    <a id="skip-navigation" class="screen-reader-only" href="#main">Skip to main content</a>

    <div class="header-masthead">

        <a class="site-logo" href="/" aria-label="Site Logo">
            <h1 class="screen-reader-only">Oi's Kitchen Logo and Homepage Link</h1>
            <svg class="header__svg" aria-hidden="true" viewBox="0 0 538 88.5"><use xlink:href="#ois-kitchen-choco-font" /></svg>
        </a>

        <div class="shopping-buttons snipcart-summary" aria-label="Customer Shopping Buttons">
            <h2 class="screen-reader-only">Customer Shopping Links Area</h2>
            <a class="header-link snipcart-user-profile" href="#" aria-label="Your Account">
                <svg class="header__svg" aria-hidden="true" viewBox="0 0 40 40"><use xlink:href="#account-icon-material" /></svg>
            </a>
            <a class="header-link snipcart-user-logout" href="#">
                Log Out
            </a>
            <a class="header-link snipcart-checkout" href="#" aria-label="View Cart">
                <svg class="header__svg" aria-hidden="true" viewBox="0 0 100 125"><use xlink:href="#cart-icon-material" /></svg>(<span class="snipcart-total-items"></span>)
            </a>
        </div>
    </div>

    <nav class="accessible-site-navigation" role="navigation" aria-label="Main Navigation">
        <h2 class="screen-reader-only">Main Navigation Links Menu</h2>
        <ul class="accessible-site-menu" role="menubar">
            {{- range .Site.Menus.main -}}
            <li class="accessible-site-menu__item">
                <a class="header-link" href="{{ .URL }}" role="menuitem">{{ .Name | title }}</a>
            </li>
            {{- end -}}
        </ul>
    </nav>

</header>