<header class="accessible-header" role="banner">

    <a id="skip-navigation" class="screen-reader-only" href="#main">Skip to main content</a>

    <div class="header-masthead">

        <a class="site-logo" href="/" aria-label="Oi's Kitchen Logo and Homepage Link">
        </a>

        <a class="shopping-cart snipcart-checkout" href="#" aria-label="View your cart button">
        </a>

      <!--  <a class="snipcart-summary cart-button snipcart-checkout" href="#" aria-label="Shopping Basket Items"><svg class="cart-button__svg" aria-hidden="true"><use xlink:href="#shopping-cart-icon" /></svg>(<span class="snipcart-total-items"></span>)
        </a>
    -->

        <!-- Open mobile nav -->
        <a class="site-navigation__open-toggle" href="#site-navigation-menu">
            <span class="screen-reader-only">Open Navigation Menu</span>
            <span aria-hidden="true" class="site-navigation-open__toggle__svg">&#9776;</span>
        </a>

    <nav class="accessible-site-navigation" role="navigation" aria-label="Main Navigation" id="site-navigation">
        <h2 class="screen-reader-only">Main Navigation Links Menu</h2>        
        <!-- Menu -->
        <ul class="accessible-site-menu" role="menubar" id="site-navigation-menu">
            <a class="site-navigation__close-toggle button" href="#"> Close Menu <span aria-hidden="true">X</span></a>
            <li class="accessible-site-menu__item">
                <a class="site-menu-link site-menu-link--home" href="/" role="menuitem">Home</a>
            </li> 
            {{- range .Site.Menus.main -}}
            <li class="accessible-site-menu__item">
                <a class="site-menu-link" href="{{ .URL }}" role="menuitem">{{ .Name | title }}</a>
            </li>
            {{- end -}}
        </ul>
    </nav>

<!-- header-masthead -->    
</div>

</header>