<header class="site-masthead">
        <aside class="container">  

                <!-- Snipcart checkout and login links -->
                <div class="customer-links snipcart-summary">
                        <a href="#" class="snipcart-checkout">View Cart (
                                <span class="snipcart-total-items"></span>)</a>
                        <a href="#" class="snipcart-user-profile">
                                <span class="snipcart-user-email">Login</span>
                        </a>
                        <a href="#" class="snipcart-edit-profile">Edit profile</a>
                        <a href="#" class="snipcart-user-logout">Logout</a>
                </div>

                <!-- Container for the logo and mobile navigation open button (for the desktop version of the navigation menu and toggle close button for mobile, see site-navigation.html) -->
                <div class="logo-nav-container">

                        <!-- Site Logo (SVG Icon) -->
                        <a href="/">
                                <svg class="site-logo icon" aria-labelledby="logo-title" viewBox="0 0 538 88.5">
                                        <use xlink:href="#ois-kitchen-choco-font" />
                                </svg>
                        </a>

                        <!-- A hidden mobile navigation toggle -->
                        <div class="site-navigation__box">
                                <a class="site-navigation__toggle toggle open" href="#site-navigation">&#9776;</a>
                        </div>

                </div>
        </aside>
</header>


<!-- version2 -->

<header class="new-site-masthead__outer">
                <aside class="new-site-masthead">
            
                    <!-- Site logo -->
                    <a class="new-site-logo" href="/">
                        <svg class="new-site-logo icon" aria-labelledby="logo-title" viewBox="0 0 538 88.5"><use xlink:href="#ois-kitchen-choco-font" /></svg>
                    </a>
                    
            
                    <!-- Customer links e.g. view cart  -->
                    <div class="site-masthead__customer-links snipcart-summary">
                        
                        <a href="#" class="snipcart-checkout">View Cart (<span class="snipcart-total-items"></span>)
                            <svg class="icon customer-icons" viewBox="0 0 100 125"><use xlink:href="#cart-icon-material" />
                            </svg>
                        </a>
            
                        <a href="#" class="snipcart-user-profile"><span class="snipcart-user-email">Login</span>
                            <svg class="icon customer-icons" viewBox="0 0 40 40"><use xlink:href="#account-icon-material" />
                            </svg>
                        </a>
            
                        <a href="#" class="snipcart-edit-profile">Edit profile</a>
            
                        <a href="#" class="snipcart-user-logout">Logout</a>
                    </div>
            
                    <!-- A hidden mobile navigation toggle -->
                    <a class="new-site-navigation__toggle-open" href="#new-site-navigation-menu">&#9776;</a>
            
                </aside>
            </header>
            
            <!-- Site navigation -->
            <nav class="new-site-navigation__outer" role="navigation">
                    
                    <!-- The navigation menu starts! -->
                    <ul class="new-site-navigation__menu" id="new-site-navigation-menu">
                        <!-- A hidden mobile navigation toggle -->
                        <a class="new-site-navigation__toggle-close" href="#">x</a>
                         <!-- Hugo looks for all pages in the config.toml under the main menu -->
                        {{- range .Site.Menus.main -}}
                            <a class="new-site-navigation__link" href="{{ .URL }}">{{ .Name | title }}</a>
                        {{- end -}}
                    </ul>
            
            </nav>