<header class="site-masthead">
<div class="container">

<!-- Snipcart checkout and login links -->
{{ partial "snipcart/snipcart-checkout-link" . }}        
<div class="logo-nav-container">
        <!-- The site title / logo -->
        <a class="site-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        

        <!-- A hidden mobile navigation toggle -->
        <div class="site-navigation__box">
                <a class="site-navigation__toggle toggle open" href="#site-navigation">&#9776;</a>
        </div>
</div>

</div>
</header>