<footer class="site-footer">
    <div class="wrapper">
        
        <div class="bio">
            Thai cooking with Oi Cheepchaiissara, author, "The Food of Thailand," "Fresh Thai," "200 Thai Favourites," and other books.
        </div>

        <div class="social">
            <a href="https://instagram.com/oi4food.com">Instagram</a>
            <a href="https://facebook.com/oi4food">Facebook</a>
        </div>

    </div>    
</footer>

<script async src="/app.js"></script>

</body>
</html>