<footer class="site-footer" role="contentinfo">
  <div class="site-footer__inner">

    <div class="site-footer__columns">
    <aside class="site-footer__author">
        <h3>Thai Recipes</h3>
        <ul>
          <li><a href="/thai-recipes/" class="site-footer__link">Browse all Thai Recipes »</a></li>
          <li><a href="/thai-recipes/thai-green-curry-with-beef/" class="site-footer__link">Thai Green Curry</a></li>
          <li><a href="/thai-recipes/" class="site-footer__link">Browse all Thai Recipes</a></li>
          <li><a href="/thai-recipes/" class="site-footer__link">Browse all Thai Recipes</a></li>
        </ul>
    </aside>

      <aside class="site-footer__author">
          <h3>Colchester Cooking Classes</h3>
      </aside>

      <aside class="site-footer__author">
          <h3>By Oi Cheepchaiissara</h3>
      </aside>
    </div>

    <aside class="site-footer__legal">
      <a class="site-footer__link" href="/">Copyright 2018 Oi Cheepchaiissara</a>
    </aside>

</div>
</footer>