<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }} - {{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}"> {{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">{{ end }} {{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }} {{ if .RSSLink }}
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }} {{- template "_internal/opengraph.html" . -}} {{- template "_internal/google_news.html" . -}} {{- template "_internal/schema.html" . -}} {{- template "_internal/twitter_cards.html" . -}}

	{{ partialCached "styles.html" . }}

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#fff">

</head>

<body>

	{{ partial "site-masthead.html" . }}
	{{ partial "site-navigation.html" . }} 

	{{ block "main" . }} {{ end }}

	{{ partial "site-footer.html" . }}
	

</body>

</html>