{{ partial "site-head.html" . }}
{{ partial "site-header" . }}
{{ partial "site-navigation" . }}

<main role="main">
    <section class="typeset">

        <article>
            <h1 class="page-header__title">{{ .Title }}</h1>
             {{ .Content }}              
        </article>

        <ul class="blog-listing">
            {{ range .Pages }}
              <li class="category-item">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                <span class="readtime">{{ .ReadingTime }} min read</span>
              </li>
            {{ end }}
          </ul>
    
    </section>
</main>

{{ partial "site-footer.html" . }}
