{{ define "main" }}
    {{ partial "breadcrumbs/breadcrumbs.html" . }} 
    <main role="main" id="main">
        <article class="article-layout">

            <section class="article-introduction">
                <h1 class="article-introduction__title">{{ .Title }}</h1> 
                <p class="article-introduction__subtitle article-introduction__subtitle--page">{{ .Params.description }}</p>
            </section>

            <section class="article-media">
                {{ if .Params.featured_image }}<img class="article-image__feature lazyload" src="{{ .Params.featured_image }}" alt="{{ .Title }}" />{{ end }}
            </section>

            <aside class="article-tableofcontents">
                <h2 class="article-tableofcontents__header">Table of contents</h2>
                {{ .TableOfContents }}
            </aside>

            <section class="article-content">
                {{ .Content }}
            </section>
            
        </article>
    </main>
{{ end }}