{{ define "main" }}
    {{ partial "breadcrumbs/breadcrumbs.html" . }} 
    <main role="main" class="container content-area" id="main">
        <article>

            <section class="page-introduction">
                <h1 class="page-introduction__title">{{ .Title }}</h1>
                <p class="page-introduction__subtitle">{{ .Params.description }}</p>
                {{ if .Params.featured_image }}<img src="{{ .Params.featured_image }}" alt="{{ .Title }}" />{{ end }}
            </section>

            <section class="page-content">
                {{ .Content }}
            </section>

        </article>
    </main>
{{ end }}