.accessible-header {
    background-color: $brand-tinted-grey-color;
    border-style: solid;
	border-width: $spacing-third 0 0 0;
	border-top-color: $brand-color;
    border-bottom-color: $brand-tinted-grey-color;
    padding-top: $spacing;
    padding-bottom: $spacing;
    margin-bottom: $spacing;
}

.header-masthead {
    max-width: $content-area-max-width;
    margin: 0 auto;
    width: 90%; 
    display: flex;
}

.site-logo {
    margin-right: auto;
}

.shopping-button__link {
    font-family: $heading-copy-font;
	color: $brand-dark-color;
    text-decoration: none;
    &:not(:last-child) {
        margin-right: $spacing-half;
    }
}

.accessible-site-navigation {
    max-width: $content-area-max-width;
    margin: 0 auto;
    width: 90%;     
}

.accessible-site-menu {
    display: flex;
    justify-content: start;
    margin: 0;
}

.accessible-site-menu__item:not(:first-child) {
    margin-left: $spacing;
}

.site-menu-link {
    font-family: $heading-copy-font;
	color: $brand-dark-color;
    text-decoration: none;
}

.header__svg {
    height: 1.375em;
}