.site-breadcrumbs {
    max-width: $content-area-max-width;
    margin: 0 auto;
    width: 90%;
    font-family: $heading-copy-font; 
    font-weight: $heading-font-weight;
    color: $brand-dark-color;
    margin-bottom: $spacing;
}

.breadcrumbs__menu {
    list-style-type: none;
}

.breadcrumbs__link {
    font-family: $heading-copy-font; 
    font-weight: $heading-font-weight;
    color: $secondary-color-dark;    
}

.breadcrumbs__item {
    display: inline-block;
}