.site-breadcrumbs {
    font-family: $heading-copy-font; 
    font-weight: $heading-font-weight;
    color: $brand-dark-color;
    margin-bottom: $spacing;
}

.breadcrumbs__link {
    font-family: $heading-copy-font; 
    font-weight: $heading-font-weight;
    color: $secondary-color-dark;    
}

.breadcrumbs__item {
    display: inline-block;
}