.site-breadcrumbs {
    font-family: $heading-copy-font; 
    font-weight: $heading-font-weight;
    color: $body-copy-color;
    margin-bottom: $margin-bottom;
}

.breadcrumbs__link {
    font-family: $heading-copy-font; 
    font-weight: $heading-font-weight;
    color: $brand-link-color;    
}

.breadcrumbs__item {
    display: inline-block;
}