// Button to go here

.button {
    background-color: white;
    border: 1px solid $secondary-color;
    font-family: $heading-copy-font;
    color: $secondary-color-darkest;
    padding: 0.5rem;
        &:hover {
            cursor: pointer;
            background-color: $secondary-color-lightest;
            color: $secondary-color-darkest;
        }
}
