/*---------- CARDS LAYOUT ----------*/

// Margin underneath cards section
.cards {
    margin-bottom: $margin-bottom;
}

/* Stuff in each card */
.card {
	background: white;
}

.card__content {
	padding: $base-line-height;
}

.card__header {
    font-family: $heading-copy-font;
    font-weight: $heading-font-weight;
    color: $heading-font-color;
}

.card__description {
    color: $body-copy-color;
}

/* Flexbox layout */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

.card {
    width: 100%;
    flex-shrink: 1;
    margin-bottom: $margin-bottom;	
    @media only screen and (min-width: 600px) {
	    width: calc(50% - 0.75em);
	}
}