body {
    background-color: $brand-tinted-white-color;
}

.container {
    max-width: $content-area-max-width;
    padding: 0 $spacing 0 $spacing;
    margin: 0 auto;
    @media only screen and (min-width: 864px) {
		max-width: 864px;
	}
}

.page-introduction {
    margin-bottom: $spacing-double;
}