body {
  display: grid;
  grid-template-areas:
  "header"
  "sitenav"
  "main"
  "footer";
    @media only screen and (max-width: 599px) {
      grid-template-areas:
        "header"
        "main"
        "footer";
  }
}


.site-header {
  grid-area: header;
}

.site-navigation {
  grid-area: sitenav;
}

main {
  grid-area: main;
}

.site-footer {
  grid-area: footer;
}