.hero {
    display: flex; 
    flex-direction: column;
    margin-bottom: $spacing-double;
    &__content {
        margin-bottom: $spacing;
    }
    &__button {
        background: none;
    }
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        &__content {
            margin-right: $spacing-half;
        }
        &__media {
            margin-left: $spacing-half;
            max-width: 40%;
        }
        &__image {
        }
    }
}