// From Adam

figure {
	max-width: 100%;
}
img { 
	display: block;
	width: 100%;
}

picture > img { width: 100% }

.picture {
    & + .picture {
        margin-top: 4rem;
    }

    figcaption {
        text-align: right;
        font-style: italic;
        font-size: 1rem;
    }

    & + p {
        margin-top: 2rem;
    }
}

// From https://github.com/aFarkas/lazysizes
img[data-sizes="auto"] { display: block; width: 100%; }