body {
    background-color: $brand-tinted-white-color;
}

main {
    max-width: $content-area-max-width;
    margin: $spacing auto $spacing auto;
    padding-top: $spacing;
    width: 90%;
}

.page-introduction__title {
    margin-bottom: $spacing-half;
}

.page-introduction {
    margin-bottom: $spacing; // perhaps css grid w fallbacks
}