.site-masthead {
	border-style: solid;
	border-width: $spacing-third 0 0 0;
	border-top-color: $brand-color;
	border-bottom-color: $brand-tinted-grey-color;
	background-color: $brand-tinted-grey-color;
		@media only screen and (max-width: 599px){
			margin-bottom: $spacing;
		}
}

.customer-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: $spacing 0 $spacing 0;
	line-height: $base-line-height;
	font-family: $heading-copy-font;
}

.snipcart-checkout, .snipcart-user-profile, .snipcart-edit-profile, .snipcart-user-logout {
	padding: 0 $spacing 0 0;
	text-decoration: none; // Remove underlines
	color: $brand-dark-color;
	flex-basis: max-content; 
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media only screen and (max-width: 599px) {
		padding: 0 0 $spacing 0;
	}
}

/* This was the old text-based logo
.site-logo {
	text-decoration: none; // Remove underlines
	color: $heading-font-color;
	display: block; // Makes it have its own line
	font-family: $heading-copy-font;
	font-weight: $heading-font-weight;
	font-size: 1.25em;
	line-height: 1.2em;
}
 */

 .site-logo {
	fill: $brand-dark-color;
	align-self: flex-start;
	height: 1.375em;
 }

/* The navigation menu button */
.site-navigation__toggle {
	text-decoration: none;
	color: $brand-dark-color;
	font-size: 1.6em;
}