.site-header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

/* Logo and customer account link elements */

/* The website logo */
.site-logo {
    display: block;
    text-decoration: none;
    font-family: unquote(map-get($headingtype, font-family));
    color: $headingColour;
}

/* Add padding between View Cart and Customer Dashboard links */
.customer__cart-link {
 padding: 0 1rem 0 0;
}

.customer__cart-link, .customer__login-link {
    text-decoration: none;
}