.site-masthead {
	border-style: solid;
	border-width: 0.5rem 0 0.5rem 0;
	border-top-color: #f43059;
	border-bottom-color: $site-masthead-color;
	background-color: $site-masthead-color;
		@media only screen and (max-width: 599px) {
			margin-bottom: $margin-bottom;
		}
}

.customer-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	margin-top: $margin-bottom / 2;
	margin-bottom: $margin-bottom / 2;
	font-size: 1em;
	line-height: 1.5em;
	font-family: $heading-copy-font;
		@media only screen and (min-width: 600px) {
			margin-bottom: $margin-bottom / 2;
	}
}

.snipcart-checkout, .snipcart-total-items, .snipcart-user-profile, .snipcart-edit-profile, .snipcart-user-logout {
	text-decoration: none; // Remove underlines
	color: $heading-font-color;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto; 
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* This was the old text-based logo
.site-logo {
	text-decoration: none; // Remove underlines
	color: $heading-font-color;
	display: block; // Makes it have its own line
	font-family: $heading-copy-font;
	font-weight: $heading-font-weight;
	font-size: 1.25em;
	line-height: 1.2em;
}
 */

 .site-logo {
	fill: #000;
	width: 80%;
	height: 72px;
	align-self: flex-start;
	@media only screen and (min-width: 600px) {
		width: 360px;
	}
 }

/* The navigation menu button */
.site-navigation__toggle {
	text-decoration: none;
	color: $heading-font-color;
	font-size: 2em;
}