.site-footer {
    background: $site-footer-color;
    font-family: $heading-copy-font;
    font-weight: $heading-font-weight;
    padding-top: $margin-bottom;
	padding-bottom: $margin-bottom;
}

.site-footer__link {
    color: $heading-font-color;
    font-family: $heading-copy-font;
    font-weight: $heading-font-weight;
    text-decoration: none;
}

.sprite {
    display: none;
}