/* Old
// Now, here's the border and background colors.
.site-masthead {
	border-style: solid;
	border-width: $spacing-third 0 0 0;
	border-top-color: $brand-color;
	border-bottom-color: $brand-tinted-grey-color;
	background-color: $brand-tinted-grey-color;
		@media only screen and (max-width: 599px){
			margin-bottom: $spacing;
		}
} */

/* Old
.customer-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: $spacing 0 $spacing*1.5 0;
	line-height: $base-line-height;
	font-family: $heading-copy-font;
} */

/* Old
.snipcart-checkout, .snipcart-user-profile, .snipcart-edit-profile, .snipcart-user-logout {
	padding: 0 $spacing 0 0;
	text-decoration: none; // Remove underlines
	color: $brand-dark-color;
	flex-basis: max-content; 
}  */

/* Old
// Here's the container containing the logo and navigation
.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media only screen and (max-width: 599px) {
		padding: 0 0 $spacing 0;
	}
}  */

/* Old
// The website logo itself (an SVG icon you put in src/svg)
 .site-logo {
	fill: $brand-dark-color;
	align-self: flex-start;
	height: 1.375em;
 } */

 /* Old
// This is the styling of the mobile hamburger menu.
.site-navigation__toggle {
	text-decoration: none;
	color: $brand-dark-color;
	font-size: 1.6em;
}
*/