$body-copy-font: 'Georgia', serif;
$heading-copy-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$heading-font-weight: 500;
$body-copy-weight: 300;
$body-copy-size: 1em;
$base-line-height: 1.5em; // 16 * 1.5 = 24

// Brand colors picked up from paletton.com (to find shades / opposites etc.)
$brand-color: #F4305A;
$brand-color-light: #F75679;
$brand-color-lightest: #F9849D;
$brand-color-dark: #F20437;
$brand-color-darkest: #D1002D;

$secondary-color: #28CD9B;
$secondary-color-light: #4CD9AE;
$secondary-color-lightest: #7AE6C5;
$secondary-color-dark: #03C389;
$secondary-color-darkest: #009568;

$brand-plain-white: #fff;
$brand-tinted-grey-color: #f8f4f7;
$brand-tinted-white-color: #fcf9f9;
$brand-grey-color: #f8f4f7;
$brand-dark-color: #5a323a; // Used for the logo and headings

// Some generic colors picked up from the internet
$medium-grey-color: rgba(0,0,0,.54); // from medium, used for intros.

$spacing: $base-line-height; // Works out at 1.5em or 24px. Used for paddings and margins
$spacing-third: $base-line-height/3;
$spacing-half: $base-line-height/2;
$spacing-double: $base-line-height*2;

$content-area-max-width: 960px;
$content-area-padding: 0 $spacing 0 $spacing;

/* Screen sizes */
$tablet: 600px;
$desktop: 800px;
/* 
@media (max-width: 600px)
@media (min-width: 800px)
*/