.article-layout {
    display: flex;
    flex-flow: column;
    // max-width: 33em; //660px for 75characters
}

.article-introduction {
    margin-bottom: $spacing;
}

.article-media {
    margin-bottom: $spacing;
}

.article-tableofcontents {
    border: 1px solid #eee;
    box-shadow: 0 9px 65px rgba(0,0,0,.03);
    margin-bottom: $spacing;
    padding: $spacing;
    a {
        background: none;
    }
}

#TableOfContents ul { 
    list-style-type: none; 
    padding-left: 0;
    margin-bottom: 0;
  }
  
  #TableOfContents ul ul { 
    list-style-type: disc;
    padding-left: $spacing;
    margin-bottom: 0; 
  }

.article-content {
}

.article-introduction__title {
}

.article-introduction__subtitle {
    font-size: 1.125em;
    font-style: italic;
    color: $brand-subtitle-grey;
    margin-bottom: $spacing-half;
}

.article-introduction__date {
    font-family: $heading-copy-font;
    font-style: italic;
}

.article-media__image {
}

