{{ define "main" }}
{{ partial "breadcrumbs/breadcrumbs.html" . }} 

<main role="main" class="container">
<article>

<header>
    <h1 class="page-header">{{ .Title }}</h1>
    <p class="page-description">{{ .Description }}</p>
</header>

{{ .Content }}

<section class="products-list">        
        {{ range first 5 (where .Data.Pages "Type" "shop") }}
            <article class="products-list__item">
                <header class="products-list__item-header">
                    <a class="products-list__item-link" href="{{.Permalink}}">{{ .Title }}</a>
                </header>
                {{ with .Params.featured_image }}<img class="lazyload" data-src="{{ . }}">{{ end }}
            </article>
        {{ end }}
</section>

</article>
</main>
{{ end }}