{{ define "main" }}
    <main class="page-layout page-layout--home" role="main" id="main">

            <section class="cards">
                <article class="card card--feature">
                    <img class="card__image card__image--feature lazyload" data-src="/img/oi-tastes-good.jpg">
                    <div class="card__content">
                        <h3 class="card__header">Learn everything there is to know about Thai cooking with Oi!</h3>
                        <p class="card__subheader">Author of "The Food of Thailand," "Fresh Thai," and others.</p>
                        <ul class="card__menu">
                            <li class="card__bullet">Step-by-step recipes that lead you every step of the way..</li>
                            <li class="card__bullet">Lots of illustrations to see whether you're on the right track.</li>
                            <li class="card__bullet">Interesting insights including healthy tips and variations.</li>
                        </ul>
                        <a class="card__button" href="/thai-recipes/">Read Free Thai Recipes »</a>
                    </div>
                </article>
            </section>

            <hr class="divider">

            <header class="introduction">
                <h2 class="introduction__title">Latest Thai Recipes to cook at home:</h2> 
                <a class="introduction__link" href="/thai-recipes/">Browse all Thai Recipes »</a>
            </header>

            <section class="cards">
                {{ range first 3 (where .Data.Pages "Type" "thai-recipes") }}
                    <article class="card">
                        <img class="card__image lazyload" data-src="{{ .Params.featured_image }}">
                        <div class="card__content">
                            <h3 class="card__header">{{ .Title }}</h3>
                            <time class="card__time" datetime="{{.Date.Format " 2006-01-02 "}}">{{.Date.Format "Jan 2, 2006"}}</time>
                            <p class="card__description">{{ .Params.description }}</p>
                            <a class="card__link" href="{{.Permalink}}">Read this recipe »</a>
                        </div>
                    </article>
                {{ end }}
            </section>

    </main>
{{ end }}