{{ define "main" }}
<main class="page-layout page-layout--article" role="main" id="main">

            <section class="introduction">
                <h1 class="introduction__title">Cook incredible Thai food with Oi Cheepchaiissara</h1> 
                <p class="introduction__subtitle introduction__subtitle--page">Simple step-by-step instructions and refined recipes.</p>
            </section>
            
            {{ if .Params.featured_image }}
                <img class="image lazyload" src="{{ .Params.featured_image }}" alt="{{ .Title }}" />
            {{ end }}

            <section class="content">
                {{ .Content }}
            </section>
            
    </main>
{{ end }}