{{ define "main" }}
    {{ partial "breadcrumbs/breadcrumbs.html" . }} 
    <main class="page-layout page-layout--article" role="main" id="main">
        
        <header class="introduction">
            <h1 class="introduction__title">{{ .Title }}</h1> 
            <p class="introduction__subtitle introduction__subtitle--article">{{ .Params.description }}</p>
            <time class="introduction__date" datetime="{{.Date.Format " 2006-01-02 "}}">- Published on {{.Date.Format "Jan 2, 2006"}} by Oi</time>
        </header> 
            
        {{ if .Params.featured_image }}
            <img class="image image--feature lazyload" src="{{ .Params.featured_image }}" alt="{{ .Title }}" />
        {{ end }}

        <aside class="tableofcontents">
            <h2 class="tableofcontents__title">Table of contents</h2>
            {{ .TableOfContents }}
        </aside>

        <section class="content">
                {{ .Content }}
        </section> 

    </main>
{{ end }}